@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

body, p {
    margin: 0;
}
.flex {
    display: flex;
}
.flex-wrap {
    flex-wrap: wrap;
}
.space-between {
    justify-content: space-between;
}
